body
{
      font-family: nyt-franklin, helvetica, arial, sans-serif;
      background-color:white;
}

#navBar
{
  position:fixed;
  background-color:white;
  height: 4.5%;
  width:100%;
  top:0;
z-index:1;
  left:0;
  right: 0px;
  border: 1px solid #e2e2e2;
  margin:0;
  background-repeat:no-repeat;
  background-position: 134px ;
  background-image: url('4a04de7b7810cd45be4257a751d74689.png');
}
#articleTitle
{
  display: inline-block;
  position:absolute;
  max-width: 350px;
    width:100%;
  color:black;
  top:7%;
  font-style: italic;
  left:34%;
  font-family: nyt-cheltenham,georgia;
  font-size: 20px;
}
img{
  height: auto;
max-width: 100%;
}
#headerImage
{
  position:absolute;
    top:25%;
    left: 20%;
    
  
}
#headerCaption
{
    position:relative;
    width: 70%;
    height:50%;
    color:gray;
    font-size:14px;
    top:10px;
}

#articleContentContainer
{
    position:absolute;
    background-color:red;
    left:33.5%;
    top:110%;
    width:600px;
    height:116px;
}

